    <footer class="footer whiteText">
      <div class="rightFlex">
        <div class="logo">
          <div class="logoIcon"></div>
        </div>
        <h4>Contact us</h4>
        <br />
        <div class="socialMedias">
          <a href="https://www.facebook.com/"
            ><i class="iconfont">&#xe601;</i></a
          >
          <a href="https://twitter.com/"><i class="iconfont">&#xe628;</i></a>
          <a href="https://au.linkedin.com/"
            ><i class="iconfont">&#xe60b;</i></a
          >
        </div>
      </div>
      <div class="leftFlex">
        <div class="info">
          <span>Terms and Conditions</span>
          <span>Privacy Policy</span>
        </div>
        <div class="copyright">
          <h4>@Copyright 2022</h4>
          <br />
          <span>
            Diabetes@Home is a startup specialising in developing and delivering
            innovative digital health solutions.
          </span>
        </div>
      </div>
    </footer>
{{css '/css/commonStaticPage.css'}}
