<div class="menu">
  <button><span>Back</span> <i class="iconfont">&#xe840;</i></button>
  <div class="container">
    <a href="">
      <i class="iconfont">&#xe7c6;</i>
      <span>Home</span>
    </a>
    <a href="">
      <i class="iconfont">&#xe682;</i>
      <span>About diabetes</span>
    </a>
    <a href="">
      <i class="iconfont">&#xe8e7;</i>
      <span>About this website</span>
    </a>
    <a href="">
      <i class="iconfont">&#xe608;</i>
      <span>Login</span>
    </a>
  </div>
</div>