<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Diabetes</title>
    <link rel="stylesheet" href="/css/commonStaticPage.css" />
    {{!-- <link rel="stylesheet" href="/css/singlePatient.css" /> --}}
</head>
<body>
    <header class="header">
      <div class="logo">
        <div class="logoIcon"></div>
        <!-- <span class="homeTitle">Diabetes@Home</span> -->
      </div>
      <nav class="naviBar">
        <a href="/home">
          <div class="naviBarItem" onclick="window.location.href=‘/’;">       
            <div class="itemName">Home</div>
            <div class="highLight"></div>
          </div>
        </a> 
        <a href="/aboutDiabetes">
          <div class="naviBarItem">
            <div class="itemName" >About Diabetes</div>
            <div class="highLight" style="display: block"></div>
          </div>
        </a>
        <a href="/aboutUs">
          <div class="naviBarItem">
            <div class="itemName">About Us</div>
            <div class="highLight"></div>
          </div>
        </a>
        <div class="naviBarItem login">Log in</div>
      </nav>
      <div class="menuButton">
        <i class="iconfont memuIcon">&#xe615;</i>
        <div class="menu">
          <button><span>Back</span> <i class="iconfont">&#xe840;</i></button>
          <div class="container">
            <a href="">
              <i class="iconfont">&#xe7c6;</i>
              <span>Home</span>
            </a>
            <a href="">
              <i class="iconfont">&#xe682;</i>
              <span>About diabetes</span>
            </a>
            <a href="">
              <i class="iconfont">&#xe8e7;</i>
              <span>About this website</span>
            </a>
            <a href="">
              <i class="iconfont">&#xe608;</i>
              <span>Login</span>
            </a>
          </div>
        </div>
      </div>
      <div class="address">
        <span> Home > About diabetes</span>
      </div>
    </header>
    <containt class="content">

        {{{body}}}

    </containt>
    <footer class="footer whiteText">
      <div class="rightFlex">
        <div class="logo">
          <div class="logoIcon"></div>
        </div>
        <h4>Contact us</h4>
        <br />
        <div class="socialMedias">
          <a href="https://www.facebook.com/"
            ><i class="iconfont">&#xe601;</i></a
          >
          <a href="https://twitter.com/"><i class="iconfont">&#xe628;</i></a>
          <a href="https://au.linkedin.com/"
            ><i class="iconfont">&#xe60b;</i></a
          >
        </div>
      </div>
      <div class="leftFlex">
        <div class="info">
          <span>Terms and Conditions</span>
          <span>Privacy Policy</span>
        </div>
        <div class="copyright">
          <h4>@Copyright 2022</h4>
          <br />
          <span>
            Diabetes@Home is a startup specialising in developing and delivering
            innovative digital health solutions.
          </span>
        </div>
      </div>
    </footer>
</body>
</html>