<head>
    <script>
        document.title = "404 | Diabetes@Home"
    </script>
    <style>
        .content {
            background-image: url('/img/desktop background.png');
        }
        
        .back-to-home {
            text-decoration: none;
            border: 2px solid #5c4435;
            border-radius: 1em;
            padding: 0.5% 1%;
            background-color: #fbf9f7;
        }
    </style>
</head>

<h1 style="font-size: 100px; font-weight: bold;">404</h1>
<h3>Sorry, page not found!</h3>
<a class="back-to-home" href="/home">Back to Home Page</a>
