
      <div class="title" style="background-image: url('/img/aboutUs-mobile.png');">
        {{!-- <img src="/img/IMG_7375.png" alt="about this website" /> --}}
      </div>
      <article class="article">
        <p>
          Here you'll find all the information you need about diabetes@home -
          the smartest diabetes mangement application for patients across
          Victoria.
        </p>
        <p>
          Wherever diabetes is, we are. We provide digital diabetes management
          service to help you manage your diabetes better and keep it under
          control in the convenience of your own home.
        </p>
        <p>
          You can make daily records of your body conditions anytime anywhere
          and your supervising clinician can remotely monitor your reports.
        </p>
        <p>
          Whether you are Type 1 or Type 2, have Gestational Diabetes or just
          want to help and monitor a family member, this is the perfect logbook
          for you.
        </p>
        <h4>On Diabetes@Home:</h4>
        <ul>
          <li>
            You can make daily records and write customised comments of your own
            health data.
          </li>
          <li>
            You can collect, save and take an overview of your health data
            through intuitive charts and table.
          </li>
          <li>
            You can have your supervising clinician to remotely monitor your
            health data.
          </li>
        </ul>
      </article>
      <div class="btnArea">
          <div class="btnContainer">
            <span class="reminder">To learn more about diabetes visit :</span>
            <button class="btn" onclick="window.location.href='/aboutDiabetes'">
              <i class="iconfont">&#xe64c;</i>
              <span>About diabetes</span>
              <i class="iconfont">&#xe840;</i>
            </button>
          </div>
        <div class="btnContainer">
          <span class="reminder">To access all features on this website :</span>
          <button class="btn">
            <i class="iconfont">&#xe608;</i>
            <span>Login</span>
            <i class="iconfont">&#xe840;</i>
          </button>
        </div>
      </div>
      <div class="contactInfo">
        <h3>Contact us</h3>
        <p>
          We want you to have an excellent experience on diabetes@home. If you
          need assistance with the site or with any other aspect of your
          relationship with the diabetes@home. please let us know. We want to
          help.
        </p>
        <b>To make general enquiries and feedback :</b>
        <br />
        <h5>By phone</h5>
        <p>
          Call <span class="highLight">1800 654 389</span> from anywhere in
          Australia, Monday to Friday, 8am to 6pm.
        </p>
        <h5>By email</h5>
        <p>Email us at <span class="highLight">hello@diabeteshome.com</span></p>
      </div>

