      <div class="title">
        <img src="/img/about_diabetes_bg.png" alt="about diabetes" />
      </div>
      <article class="article">
        <div class="main">
          <h3>What is diabetes?</h3>
          <p>
            Diabetes is a health condition in which your body has difficulty
            converting glucose (a type of sugar) into energy. This leads to high
            levels of sugar in the blood (hyperglycaemia).
          </p>
          <p>
            Your blood glucose levels are normally controlled by a hormone
            called insulin, which converts glucose into energy. Diabetes occurs
            when your pancreas can’t produce insulin or when your body can’t
            make use of the insulin because it’s grown resistant to it.
          </p>
          <h3>Types of diabetes</h3>
          <ul>
            <li>
              <span class="highLight">Type 1 diabetes</span> occurs when a
              person’s own immune system breaks down the cells in the pancreas
              that produce insulin.
            </li>
            <li>
              <span class="highLight">Type 2 diabetes</span> occurs when the
              body’s cells do not respond effectively to insulin or lose the
              ability to produce enough insulin in the pancreas. This causes
              glucose to stay in the blood, leading to a higher-than-normal
              level of glucose in the body.
            </li>
            <li>
              <span class="highLight">Gestational</span> diabetes occurs when a
              woman experiences high blood glucose levels during pregnancy. It
              usually goes away after the baby is born. Women who experience
              gestational diabetes have a higher risk of developing type 2
              diabetes in the future.
            </li>
            <li>
              <span class="highLight">Pre-diabetes</span> is where blood glucose
              levels are higher than usual, but not high enough for a diagnosis
              of diabetes.
            </li>
          </ul>
          <h3>Common symptoms of diabetes</h3>
          <ul>
            <li>excessive thirst or hunger</li>
            <li>passing more urine than usual</li>
            <li>feeling tired and lethargic</li>
            <li>
              unexplained weight loss (for type 1), or gradual weight gain (for
              type 2)
            </li>
            <li>having cuts that heal slowly</li>
            <li>itchy skin or skin infections</li>
            <li>blurred vision</li>
          </ul>
          <p>
            <span class="highLight">Type 1 diabetes</span> is usually spotted
            quickly, since symptoms can appear suddenly. Most people with
            <span class="highLight">type 1 diabetes</span> are diagnosed before
            the age of 19.
          </p>
          <p>
            Many people with <span class="highLight">type 2 diabetes</span>,
            however, don’t have symptoms at all or have signs that go unnoticed
            for a long time.
          </p>
          <!-- <p>Source: <span class="underline">healthdirect | Diabetes</span></p> -->
          <p>
            Source:
            <a href="https://www.healthdirect.gov.au/diabetes"
              >healthdirect | Diabetes</a
            >
          </p>
          <h3>Video: Raising awareness</h3>
          <div class="videoArea">
            <!-- Embed vid:<a>https://youtu.be/EGtLlPNGkZc</a> -->
            <iframe
              src="https://youtube.com/embed/EGtLlPNGkZc"
              allowfullscreen
            ></iframe>
          </div>
          <p>
            Source:
            <!-- <span class="underline">Diabetes Australia’s YouTube channel</span> -->
            <a href="https://www.youtube.com/channel/UCZXnKa-DuWRxNDCVh6t9yng"
              >Diabetes Australia's Youtube channel</a
            >
          </p>
          <h3>Useful websites</h3>
          <ul>
            <li>
              <a href="https://www.diabetesaustralia.com.au/"
                >Diabetes Australia</a
              >
            </li>
            <li>
              <a href="https://www.ndss.com.au/"
                >NDSS (National Diabetes Services Scheme)</a
              >
            </li>
            <li>
              <a href="https://www.diabetesvic.org.au/Home"
                >Diabetes Victoria</a
              >
            </li>
            <li>
              <a href="https://www.healthdirect.gov.au/diabetes"
                >healthdirect | Diabetes</a
              >
            </li>
          </ul>
        </div>
      </article>
{{css '/css/commonStaticPage.css'}}