<div class="title" style="display: block;">
    <img src="/img/home.png" alt="home" />

    <h1>Hello World</h1>
    <p>Logged in as  </p>
    <p style="font-size: 54; color:aliceblue">{{user.nameGiven}}</p> 
    <form method="POST" action="/logout" style="margin-bottom: 20px;">
        <button>Logout</button> 
    </form>

</div>