<head>
    <link rel="stylesheet" href="/css/patientDashboard.css" />
</head>
<div class="welcome-banner">
    <div class="welcome-message">Welcome Pat the Patient!<i class="iconfont">&#xe6bf;</i></div>
    <button class="support-msg-btn">
        <i class="iconfont">&#xe616;</i>
        <span class="unread-status"></span>
    </button>
</div>
<div class="today-content">
    <div class="today-records">
        <div class="records-heading">
            <div class="text">
                <div>Today's records</div>
                <div class="date">18/04/2022</div>
            </div>
            <div class="completion">
                <div></div>
                <p style="margin: auto;">66%</p>
            </div>
        </div>
        <div class="record-area">
            <div class="record-item">
                <div class="item">Blood Glucose Level</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
            <div class="record-item">
                <div class="item">Weight</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
            <div class="record-item">
                <div class="item">Insulin Doses</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
            <div class="record-item">
                <div class="item">Step Counts</div>
                <div class="item-down">
                    <div class="value"></div>
                    <div class="edit"></div>
                </div>
            </div>
        </div>
         <div class="more-data">
            View More Data
        </div>
    </div>
    <div class="dashboard-middle-line"></div>
    <div class="leader-board">
        <div class="board-title">
            <div class="text">
                <div>Leaderboard:</div>
                <div>18/04/2022</div>
            </div>
        </div>
        <div class="board-area">
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">1</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">2</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">3</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">4</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">5</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
        </div>
    </div>
</div>
