<head>
  <script>
    document.title = "View Records | Diabetes@Home"
  </script>
</head>

<div id="pda-calendar-container"></div>

<div class="pda-data-area">
  <div class="pda-update-btn">
    <button id="pda-update-btn">select date</button>
  </div>
  <div class="pda-data-nav">
    <div class="pda-data-tag pda-selected">Daily</div>
    <div class="pda-data-tag">Weekly</div>
    <div class="pda-data-tag">Monthly</div>
  </div>
  
  <div class="pda-title-area">
    <div class="pda-title-time"></div>
    <div class="pda-title-completion">
      <div class="pda-completion-title">
        <span>Today's</span>
        <span>Completion</span>
      </div>
      <div id="pda-completion-container">50</div>
    </div>
  </div>

  <div class="pda-daily-area">  
  </div>

  <div class="pda-analysis-area pda-hidden">
    <div class="pda-analysis-nav">
      <div class="pda-analysis-tag">Graph</div>
      <div class="pda-analysis-tag pda-selected">Table</div>
    </div>
    <div id="pda-chart-container" class="pda-hidden"></div>
    <table class="pda-analysis-table"></table>
  </div>


  <div class="pda-monthly-area pda-hidden"></div>

  {{#with code}}
    <div id="test">{{this}}</div>
  {{/with}}
</div>



<link rel="stylesheet" href="/css/calenderPlugin.css" />
<link rel="stylesheet" href="/css/patientDataAnalysis.css">
<link rel="stylesheet" href="/css/completionRateChartPlugin.css">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="module" src="/js/plugins/test.js"></script>
<script type="module" src="/js/plugins/completionRateChartPlugin.js"></script>
<script type="module" src="/js/patientDataAnalysis.js"></script>
<script type="text/javascript">

</script>