<head>
    <link rel="stylesheet" href="/css/patientDashboard.css" />
</head>

<div class="welcome-banner">
    <div class="welcome-message">Welcome Pat the Patient!<i class="iconfont">&#xe6bf;</i></div>
    <button class="support-msg-btn">
        <i class="iconfont">&#xe616;</i>
        <span class="unread-status"></span>
    </button>
</div>
<div class="today-content">
    <div class="today-records">
        <div class="records-heading">
            <div class="text">
                <div>Today's records</div>
                <div id="displayDate"></div>
            </div>
            <div class="completion">
                <div>Completion Rate</div>
                <div class="completion-chart">
                    <p style="margin: auto;">66%</p>
                </div>
            </div>
        </div>
        <div class="record-area">
            <div class="record-item">
                <div class="item">Blood Glucose Level</div>
                <div class="value-comment">
                    <input type="number" placeholder="Enter value" id="value" class="value" disabled="true" min="0">
                    <input type="text" placeholder="Enter comment" id="comment">
                </div>
                <div class="edit-save">
                    <button onclick="editValueComment()" id="edit-btn"><i class="icon-edit-patient"></i></button>
                    <button class="save-btn"><i class="icon-save"></i></button>
                </div>
            </div>
            <div class="record-item">
                <div class="item">Weight</div>
                <div class="value-comment">
                    <input type="number" placeholder="Enter value" class="value" disabled="true">
                    <input type="text" placeholder="Enter comment" class="comment">
                </div>
                <div class="edit-save">
                    <button class="edit-btn"><i class="icon-edit-patient"></i></button>
                    <button class="save-btn"><i class="icon-save"></i></button>
                </div>
            </div>
            <div class="record-item">
                <div class="item">Insulin Doses</div>
                <div class="value-comment">
                    <input type="number" placeholder="Enter value" class="value" disabled="true">
                    <input type="text" placeholder="Enter comment" class="comment">
                </div>
                <div class="edit-save">
                    <button class="edit-btn"><i class="icon-edit-patient"></i></button>
                    <button class="save-btn"><i class="icon-save"></i></button>
                </div>
            </div>
            <div class="record-item">
                <div class="item">Step Counts</div>
                <div class="value-comment">
                    <input type="number" placeholder="Enter value" class="value" disabled="true">
                    <input type="text" placeholder="Enter comment" class="comment">
                </div>
                <div class="edit-save">
                    <button class="edit-btn"><i class="icon-edit-patient"></i></button>
                    <button class="save-btn"><i class="icon-save"></i></button>
                </div>
            </div>
        </div>
         <div class="more-data">
            View more data
        </div>
    </div>
    <div class="dashboard-middle-line"></div>
    <div class="leader-board">
        <div class="board-title">
            <div class="text">
                <div>Leaderboard:</div>
                <div>18/04/2022</div>
            </div>
        </div>
        <div class="board-area">
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">1</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">2</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">3</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">4</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
            <div class="board-item">
                <div class="board-item-left">
                    <div class="item">5</div>
                    <div class="value">avatar</div>
                    <div class="edit">Sunny</div>
                </div>
                <div class="board-item-right">83%</div>
            </div>
        </div>
    </div>
</div>

{{!-- link javascript --}}
<script src="/js/patientDashboard.js">
<script>
    var value_comment = document.getElementsByClassName("value-comment");
    console.log(value_comment[0])
</script>
