/* font */
@font-face {
  font-family: "lato";
  src: url("../font/Lato-Regular.ttf");
}

@font-face {
  font-family: "playfairDisplay";
  src: url("../font/PlayfairDisplay-ExtraBold.ttf");

}


@font-face {
  font-family: "iconfont";
  /* Project id 3263062 */
  src: url('../font/icon-font/iconfont.woff2?t=1648121252195') format('woff2'),
    url('../font/icon-font/iconfont.woff?t=1648121252195') format('woff'),
    url('../font/icon-font/iconfont.ttf?t=1648121252195') format('truetype'),
    url('../font/icon-font/iconfont.svg?t=1648121252195#iconfont') format('svg');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mobile Version (iphone 375*812) */
@media screen and (max-width: 1365px) {

  /* common part */
  body {
    font-size: 14px;
    font-family: "lato";
    color: #5c4435;
  }

  .iconfont {
    color: inherit;
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 1em 0;
    font-size: 14px;
    font-family: "lato";
    font-weight: 400px;
    line-height: 18px;
    color: #5c4435;
  }

  .left {
    position: absolute;
    left: 10px;
  }

  .right {
    position: absolute;
    right: 10px;
  }

  b {
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    font-family: "playfairDisplay";
  }

  h4 {
    font-weight: 500;
    line-height: 19px;
    font-family: "playfairDisplay";
    font-style: italic;
  }

  h5 {
    font-size: 1.125em; 
    font-style: italic;
    margin-top: 0.5em;
  }

  .highLight {
    color: #92633a;
    text-decoration-line: underline;
    font-weight: 500;
    line-height: 19px;
    font-family: "playfairDisplay";
  }

  .whiteText {
    color: #f4f2f0;
  }

  .logo {
    height: 100%;
    color: inherit;
    margin-left: 10px;
    width: 260px;
    height: 60px;
    background-image: url("../img/logo_highres.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .desktopOnly {
    display: none;
  }

  a {
    color: inherit;
  }


  /* header part */

  header {
    width: 100vw;
    height: 60px;
    position: fixed;
    background-color: white;
    z-index: 1;
  }

  header .naviBar {
    display: none;
  }
  #menuButtonMobile{
    display: block;
  }
  #menuButtonDesktop{
    display: none;
  }
  .dashboard{
    /* margin-bottom: 50px !important; */
  }


  header .menuButton .memuIcon {
    position: absolute;
    width: 33px;
    height: 32px;
    right: 16px;
    top: calc(50% - 16px);
    font-size: 32px;
  }


  header .menuButton .menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F4F2F0;
    z-index: 2;
    color: #5c4435;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.01em;
    z-index: 999;
    flex-direction: column;
    justify-content: space-between;
  }


  header .menuButton .menu button {
    border: none;
    margin: 34px 0;
    color: inherit;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.01em;
    background-color: #F4F2F0;
    text-align: left;
  }

  header .menuButton .menu button span {
    padding: 0 34px;
  }

  header .menuButton .menu .container {
    padding: 0px 34px;
  }

  header .menuButton .menu .container a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 32px 0;
  }

  header .menuButton .menu .container a i {
    font-size: 24px;
    padding: 20px;
    color: #1b141f;
  }

  header .address {
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    background-color: #f4f2f0;
  }

  /* content part */

  .content {
    /* padding: 20px 24px; */
    position: relative;
    padding-top: 92px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 10vw 30px 10vw; */
  }


  .content .title {
    width: 100vw;
    background-image: url('/img/home-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 420px;
  }

  .content .title img {
    width: 100%;
  }

  .content .article {
    /* margin-top: calc(16px + 786/1920*100vw); */
    margin-top: 10px;
    padding: 0 5%;
  }

  .content .article ul li {
    list-style: disc;
    margin: 1em 0 1em 3em;
    line-height: 1.4;
  }

  .content .btnArea {
    display: flex;
    flex-direction: column;
  }

  .content .btnArea .btnContainer .btn {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5c4435;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #5c4435;
    position: relative;
  }

  .contactInfo {
    padding: 20px 24px;
    position: relative;
    background-color: #E2D8CC;
  }

  .content .videoArea {
    width: 100%;
    margin-top: 10px;
    background-color: gray;
    height: calc(185/327*100vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content .videoArea iframe {
    width: 100%;
    height: 100%;
  }

  /* footer */

  footer {
    padding: 20px 16px;
    background: #5C4435;
  }


  footer .logo {
    margin-left: 0px;
    width: 260px;
    height: 60px;
    background-image: url("../img/logo_highres_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
  }

  footer .info {
    margin: 10px 0;
  }

  footer .info span {
    text-decoration: underline;
    display: block;
    padding: 5px 0;
  }

  footer .socialMedias a {
    height: 32px;
    width: 32px;
    background-color: #5c4435;

  }

  footer .socialMedias a i {
    height: 32px;
    width: 32px;
    font-size: 32px;
    color: white;
    margin: 0 5px;
  }

  footer .copyright h4 {
    font-weight: 300px;
  }

  footer .copyright span {
    font-size: 10px;
  }
}



/* Desktop Version (1920*1080) */
@media screen and (min-width: 1366px) {
  html {
    overflow-y: overlay;
  }

  body {
    font-size: 28px; 
    font-family: 'Lato-Regular';
  }
  /*body {
    font-size: 40px;
    font-family: "lato";
    color: #5c4435;
  }*/

  h3 {
    font-size: 1.563em;
    line-height: 1.25;
    padding: 0.5em 0;
  }
  
  h4 {
    font-size: 1.25em; 
    line-height: 1.25;
    padding: 0.5em 0;
  }

  h5 {
    font-size: 1.125em; 
    font-style: italic;
  }
  
  p {
    font-size: 1em; 
    margin-bottom: 0.5em;
  }

  .iconfont {
    color: inherit;
    font-family: "iconfont" !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
  }

  /* p {
    font-family: "Lato";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C4435;
  }*/

  b {
    font-weight: bold;
  }

  .highLight {
    color: #92633a;
    text-decoration-line: underline;
    font-weight: 500;
    line-height: 19px;
    font-family: "playfairDisplay";
  }

  .whiteText {
    color: #f4f2f0;
  }

  .mobileOnly {
    display: none;
  }

  /* header part */

  header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 100%;
    color: inherit;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .logo .logoIcon {
    background-image: url("../img/logo_highres.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 1.5%;
    position: absolute;
    width: 428px;
    height: 76px;
    top: 15px;
  }

  .logo .homeTitle {
    color: inherit;
    font-size: 26px;
    text-align: center;
  }

  header .naviBar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    margin-right: 10px;
    align-items: center;
  }
  #menuButtonMobile{
    display: none;
  }
  #menuButtonDesktop{
    display: block;
  }
  header .naviBar a {
    text-decoration: none;
  }
  
  header .naviBar a {
    text-decoration: none;
  }

  header .naviBarItem {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
    color: #867167;
    font-family: "playfairDisplay";
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }

  header .naviBarItem:hover .highLight {
    display: block;
  }


  header .naviBarItem .itemName {
    /* display: flex; */
    line-height: 80px;
  }

  header .naviBarItem .highLight {
    display: none;
    position: relative;
    top: -5px;
    width: 100%;
    height: 5px;
    background-color: #867167;
  }

  header .login {
    line-height: 80px;
    margin: 0;
    padding: 0px 20px;
    background-color: #867167;
    color: #FFFFFF;
  }

  header .login:hover {
    cursor: pointer;
    background-color: #BFA38A;
  }

  header .menuButton {
    display: none;
  }

  .dashboard{
    /* margin-bottom: 80px !important; */
  }
  header .menuButton .memuIcon {
    /* display: none; */
    position: absolute;
    width: 44px;
    height: 44px;
    right: 2%;
    top: calc(50% - 16px);
    font-size: 44px;
    cursor: pointer;
  }

  header .menuButton .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: #F4F2F0;
    z-index: 2;
    color: #5c4435;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: 0.01em;
  }

  header .menuButton .menu button {
    border: none;
    margin: 1.5em 0.5em;
    color: inherit;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: 0.01em;
    background-color: #F4F2F0;
    text-align: left;
  }

  header .menuButton .menu button span {
    padding: 0 1.25em;
  }

  header .menuButton .menu .container {
    padding: 134px 34px;
  }

  header .menuButton .menu .container a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 32px 0;
  }

  header .menuButton .menu .container a i {
    font-size: 1em;
    padding: 1em;
    color: #1b141f;
  }

  header .address {
    display: none;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    background-color: #f4f2f0;
  }

  /* content part */

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    background-color: rgba(243, 240, 238);
    line-height: 1.5; 
    color:#5c4435;
    min-height: 830px;
  }

  .content .title {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #2c1f18;
    background-image: url('/img/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 830px;
  }

  .content .title img {
    height: 30%;
  }

  .content .article {
    /* margin-top: calc(16px + 694/1584*100vw); */
    margin-top: 1em;
    margin-bottom: 2.5em;
    padding: 0% 10%;
  }

  .content .article ul li {
    list-style: disc;
    margin: 0 0 0.75em 2.5em;
  }

  .content .btnArea {
    margin-top: -2em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
  }

  .content .btnArea .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content .btnArea .btnContainer .btn {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5c4435;
    width: 15em;
    height: 2em;
    font-size: 1em;
    font-family: 'Lato-Regular';
    background-color: #f4f2f0;
    border-radius: 0.65em;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    border: 0.1em solid #5c4435;
    position: relative;
    cursor: pointer;
  }

  .content .btnArea .btnContainer .reminder {
    width: 100%;
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .content .btnArea .btnContainer .btn i {
    font-size: inherit;
    margin: 0 10px;
  }

  .contactInfo {
    margin-bottom: 0.75em;
    padding: 2% 10%;
    position: relative;
    background-color: #E2D8CC;
  }

  .content .videoArea {
    width: 100%;
    margin-top: 10px;
    background-color: gray;
    height: calc(185/327*100vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content .videoArea iframe {
    width: 100%;
    height: 100%;
    
  }


  /* footer */

  footer {
    position: relative;
    top:  80px;
    padding: 2em;
    background: #5C4435;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    /* height: 120px; */
  }

  footer .leftFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .rightFlex {
    /* width: 264px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  footer .logo {
    margin-bottom: 10px;
    height: 50px;
    width: 288px;
    color: inherit;
  }

  footer .logo .logoIcon {
    position: inherit;
    top: 0;
    left: 0;
    width: 288px;
    height: 50px;
    background-image: url(../img/logo_highres_white.svg);
    background-position: right;
  }

  footer .info {
    margin: 0 0 20px 0;
  }

  footer .info span {
    text-decoration: underline;
    display: block;
    padding: 5px 0;
  }

  footer .socialMedias a {
    height: 32px;
    width: 32px;
    background-color: #5c4435;
  }

  footer .socialMedias a i {
    height: 2.5em;
    width: 2.5em;
    font-size: 2.5em;
    color: white;
    margin-left: 10px;
  }

}