#cp-data {
  width: 17.5em;
  margin: 1.25em auto;
}

#cp-data>.cp-header {
  display: flex;
  justify-content: space-between;
  height: 2em;
  align-items: center;
}

#cp-data>.cp-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  cursor: pointer;
  margin-top: 2%;
}

#cp-year,
#cp-month {
  font-size: 1em;
  line-height: 1.5em;
  color: #5c4435;
  margin-right: 0.25em;
}

#cp-title {
  font-size: 0.75em;
  line-height: 0.8em;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: right;
}

#cp-weeks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  list-style: none;
  align-items: center;
  height: 2.5em;
}

#cp-weeks>li {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75em;
  line-height: 1.2em;
}

#cp-date {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row wrap;
}

#cp-date>li {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #dfdfdf;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

#cp-date>.cp-hover:hover {
  border: 1px solid red;
}

#cp-date>.cp-notCurMonth {
  color: #dfdfdf;
}

.cp-active {
  font-weight: bold;
  background-color: #f4f2f0;
}