@media screen and (min-width: 1366px) {
    #maskLayer {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        background-color: #000;
        opacity: 0.8;
    }

    #maskLayer.cdb-hidden {
        display: none;
    }

    .content {
        padding: 40px 0 0;
    }

    .banner {
        position: absolute;
        top: 0;
        width: 100%;
        height: 60px;
        text-align: left;
        text-indent: 20px;
        line-height: 60px;
        font-size: 22px;
        background-color: #F4F2F0;
    }

    .banner .welcome-message {
        line-height: 60px;
        font-style: italic;
    }

    .clinician-dashboard {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 750px;
    }

    .left-page {
        display: flex;
        flex-direction: column;
        width: 57%;
        background-color: #FFFFFF;
    }

    .left-page .left-title-line {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .left-page .left-title-line .dashboard-text h1 {
        width: max-content;
        font-size: 36px;
        font-weight: bolder;
        text-indent: 20px;
        padding: 5% 0;
        color: #A09E9D;
    }

    .left-page .left-title-line .current-date p {
        width: auto;
        font-size: 36px;
        font-weight: bolder;
        text-indent: 5px;
        padding: 5% 0;
        color: #A09E9D;
        margin-bottom: 0%;
    }

    .left-page .left-title-line .search-bar {
        width: 592px;
        text-indent: 350px;
    }

    .left-page .left-title-line .search-bar input[type=text] {
        height: 36px;
        font-size: 18px;
        color: #5C4435;
        background-color: #F4F2F0;
        outline-style: none;
        border-radius: 25px;
        border: 1px solid #5C4435;
    }

    .left-page .left-title-line .search-bar ::placeholder {
        color: #C7C2BF;
    }

    .search-icon {
        padding-left: 40px;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
    }

    .add-button {
        height: 36px;
        width: 36px;
        background-color: #867167;
        border-radius: 50%;
        display: inline-block;
        font-size: 24px;
        color: #F4F2F0;
        transition: transform 300ms ease-in-out;
        position: relative;
    }

    .add-button Text {
        font-size: 24px;
        color: #F4F2F0;
    }

    .add-button:hover {
        background-color: #9f897a;
        transform: scale(1.15)
    }

    .add {
        font-size: 24px;
        color: #F4F2F0;
    }

    .cdb-register-area {
        padding: 2em 0;
        position: fixed;
        width: 30vw;
        height: 50vh;
        left: 50%;
        top: 50%;
        background: linear-gradient(180deg, #ad949f, #5c4435);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: 0 0 0 5px rgba(79, 68, 68, 0.8);
        z-index: 10;
    }

    .cdb-register-area.cdb-hidden {
        display: none;
    }

    .cdb-register-area input {
        width: 60%;
        height: 2em;
        margin: 1em 0;
        background-color: transparent !important;
        color: #fff !important;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        text-indent: 10px;
        font-size: 1rem;
        letter-spacing: 2px;
    }

    .cdb-register-area input:focus {
        color: #5c4435;
        outline: none;
        border-bottom: 2px solid #5c443581;
        transition: 0.5s;
    }

    .cdb-register-area input::placeholder {
        color: #fff;
    }

    .cdb-register-area button {
        height: 2em;
        margin: 1em 0;
        background-color: #fff;
        color: #867167;
        outline: none;
        border-radius: 10px;
        letter-spacing: 2px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }

    .left-page .data-record {
        height: 650px;
    }

    .right-page {
        display: flex;
        flex-direction: column;
        width: 43%;
        background-color: #FFFFFF;
    }

    .right-page .right-title-line {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .right-page .right-title-line .comment-text {
        font-size: 36px;
        font-weight: bolder;
        padding-top: 6px;
        color: #A09E9D;
    }

    .right-page .right-title-line .show-more-text {
        text-indent: 175px;
    }

    .right-page .right-title-line .show-more-icon {
        width: 36px;
        height: 36px;
        border: 0px;
        background: none;
        cursor: pointer;
        background-size: contain;
        background-image: url(../img/right_arrow.png);
        background-repeat: no-repeat;
    }

    .right-page .comments-for-today {
        width: 97%;
        background-color: #F4F2F0;
        height: 650px;
    }
    .right-page .comments-for-today table{
        /* border-radius: 25px; */
        width: 100%;
    }


    .data-record {
        margin: 0 0 5px 0;
    }

    .data-record table {
        width: 100%;
    }

    .table-title {
        width: 96%;
        height: 50px;
        margin: auto;
        background-color: #857B74;
    }

    .table-data {
        width: 96%;
        height: 600px;
        margin: auto;
        background-color: #857B74;
        border-collapse: separate;
        border-spacing: 0;
        overflow-y: scroll;
        margin-bottom: 5px;
    }

    .first-row {
        height: 50px;
        margin: auto;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .data-row{
        height: 50px;
        margin: auto;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: #F4F2F0;
    }

    .data-row:nth-child(2n) {
        background-color: #D7D2CE;
    }

    .data-row:nth-child(2n+1) td.patient-name {
        color: #FFFFFF;
        background-color: #9f897a;
        overflow-y: auto;
    }

    .data-row:nth-child(2n) td.patient-name {
        background-color: #D3C0B2;
    }
    .data-row .patient-name{
        cursor: pointer;
    }
    .data-record td{
        display: block;
        text-align: center;
        line-height: 50px;
        height: 100%;
    }

    .too-high-value {
        color: red;
    }

    .too-high-value::after {
        content: "↑";
        color: red;
    }

    .too-low-value {
        color: blue;
    }

    .too-low-value::after {
        content: "↓";
        color: blue;
    }

    .data-record td:nth-child(1) {
        width: 150px;
    }

    .data-record td:nth-child(2) {
        width: 270px;
    }

    .data-record td:nth-child(3) {
        width: 135px;
    }

    .data-record td:nth-child(4) {
        width: 200px;
    }

    .data-record td:nth-child(5) {
        width: 200px;
    }

    .upper {
        color: red;
        position: relative;
    }

    .upper::before {
        content: "↑";
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        border: blue solid 1px;
    }

    .lower {
        color: red;
        position: relative;
    }
    .lower::before{
        content: "↓";  
    }

    .comments-for-today-list{
        width: 79%;
        height: 630px;
        margin: auto;
        overflow-y: scroll;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .today-comments-padding-row{
        width: 100%;
        height: 20px;
        background-color: #F4F2F0;
    }
    .today-comments-row1{
        width: 100%;
        height: 20px;
        margin: auto;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        font-weight: bold;
        background-color: #F4F2F0;
    }
    .today-comments-row1 .today-comments-patient-name{
        color: #A09E9D;
    }
    .today-comments-row2{
        width: 100%;
        height: 15px;
        margin: auto;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        background-color: #F4F2F0;
    }
    .today-comments-row2 .today-comments-description{
        color: #A09E9D;
    }
    .today-comments-row3{
        width: 100%;
        height: auto;
        margin: auto;
        font-size: 20px;
        line-height: auto;
        text-align: center;
        background-color: #F4F2F0;
        cursor: pointer;
    }
    .today-comments-row3 .today-comments-content{
        color: #5C4435;
    }
    #comments-table tr:nth-child(8n-4) td{
        background-color: #C7C2BF;
        border-radius: 25px;
    }
    #comments-table tr:nth-child(8n) td{
        background-color: #E3D1BD;
        border-radius: 25px;
    }



    .lower::before {
        content: "↓";
    }
}