/* font */
@font-face {
    font-family: "lato";
    src: url("../font/Lato-Regular.ttf");
}

input {
    border: hidden;
}

input:focus,
input:active {
    outline-color: #BFA38A;
    outline-width: 0.5px;
    ;
}

input::placeholder {
    color: #8B8DA0;
    opacity: 1;
    font-family: "lato";
    font-style: italic;
}

button {
    cursor: pointer;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: fit-content;
    max-height: fit-content;
    align-items: center;
}

@media screen and (max-width: 1365px) {
    .pdb-hidden {
        display: none;
    }

    .address {
        display: none;
    }

    .content {
        padding: 60px 0 0;
    }

    .welcome-banner {
        padding: 60px 0 0;
        width: 100%;
        height: 80px;
        text-align: center;
        font-style: italic;
        font-family: "lato";
        background-color: #F4F2F0;
    }

    .welcome-message {
        line-height: 80px;
        font-size: 18px;
    }

    .support-msg-btn {
        position: fixed;
        top: 80px;
        right: 10px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F4F2F0;
        border-color: #5C4435;
        border-width: 2px;
        border-radius: 51%;
        box-shadow: 2px 7px 7px #5C4435;
    }

    .welcome-banner .support-msg-btn .unread-status {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 8px;
        height: 8px;
        background-color: #ca0e0e;
        border-radius: 50%;
        ;
    }

    .today-content {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        font-family: "lato";
    }

    .today-records {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .records-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding-top: 8px;
    }

    .records-heading .text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 40px;
        font-size: 16px;
    }

    #displayDate {
        font-size: 12px;
    }

    .records-heading .completion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 76px;
        font-size: 12px;
        font-weight: lighter;
    }

    .records-heading .completion .completion-chart {
        display: flex;
        width: 56px;
        height: 56px;
        border-radius: 56px;
        background-color: #23DC3D;
        text-align: center;
        line-height: 56px;
    }

    .record-area {
        font-size: 14px;
        padding-top: 8px;
        display: flex;
        flex-direction: column;
        min-height: 184px;

        justify-content: space-between;
    }

    .record-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: max-content;
        width: max-content;
    }

    .record-item .item {
        width: 140px;
        height: 40px;
        background-color: #867167;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        text-align: center;
        line-height: 3.5;
    }

    .record-item .value-comment {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .record-item .value-comment .value {
        width: 150px;
        height: 40px;
        background-color: #F4F2F0;
        border-radius: 10px;
    }

    .record-item .value-comment .comment {
        width: 150px;
        height: 40px;
        background-color: #F4F2F0;
        border-radius: 10px;
    }

    #comment {
        width: 150px;
        height: 40px;
        background-color: #F4F2F0;
        border-radius: 10px;
        display: none;
        margin: 4px;
    }

    .record-item .edit-save {
        width: 40px;
        display: flex;
        flex-direction: column;
    }

    .record-item .edit-save .edit-btn {
        width: 40px;
        height: 40px;
    }

    #edit-btn {
        width: 40px;
        height: 40px;
    }

    .record-item .edit-save .save-btn {
        width: 40px;
        height: 40px;
        display: none;
    }

    .icon-edit-patient:before {
        content: "\e6af";
        font-family: "iconfont" !important;
        font-size: 32px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        color: #5C4435;
        padding: 4px 4px;
    }

    .icon-save:before {
        content: "\e6c0";
        font-family: "iconfont" !important;
        font-size: 32px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        color: #5C4435;
        padding: 4px 4px;

    }

    .more-data {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        background-color: #5C4435;
        border-radius: 10px;
        color: white;
        text-align: center;
        line-height: 40px;
    }

    .dashboard-middle-line {
        display: none;
    }

    .leader-board {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .board-title {
        display: flex;
        height: 80px;
        align-items: center;
    }

    .board-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 220px;
    }

    .board-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        background-color: #F4F2F0;
        border-radius: 10px;
    }

    .board-item-left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 35%;
    }

    .board-item-right {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1366px) {
    .content {
        padding: 0 2vw 30px 2vw;
    }

    .banner {
        width: 100%;
        height: 80px;
        background-color: #F4F2F0;
    }

    .support-message {
        line-height: 80px;
        font-size: 32px;
    }

    .clinician-icon {
        float: right;
        position: relative;
        top: -80px;
        right: 5px;
        line-height: 80px;
        font-size: 44px;
    }

    .today-content {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background-image: url('/img/desktop background.png');
    }

    .today-records {
        width: 55%;
        display: flex;
        flex-direction: column;
    }

    .records-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .records-title .text {
        display: flex;
        flex-direction: column;
    }

    .records-title .completion {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 64px;
        background-color: rgb(21, 202, 81);
        text-align: center;
        line-height: 64px;
    }

    .record-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .record-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .record-item .item-down {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .record-item .item {
        width: 480px;
        height: 60px;
        background-color: #5C4435;
        border-radius: 10px;
        color: white;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
    }

    .record-item .value {
        width: 380px;
        height: 100px;
        margin-right: 10px;
        background-color: #F4F2F0;
        border-radius: 10px;
    }

    .record-item .edit {
        width: 40px;
        height: 40px;
        background-color: tomato;
    }

    .more-data {
        text-align: right;
        margin-top: 30px;
    }

    .dashboard-middle-line {
        background-color: #5C4435;
        width: 3px;
        margin: 0px 30px;
    }

    .leader-board {
        width: 40%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .board-title {
        display: flex;
        height: 80px;
        align-items: center;
    }

    .board-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .board-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 70px;
        align-items: center;
        background-color: #F4F2F0;
        border-radius: 10px;
        margin-top: 10px;
    }

    .board-item-left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 35%;
    }

    .board-item-right {
        margin-right: 10px;
    }

}