@media screen and (max-width: 1079px) {
    .upper-box{
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: stretch;
        background-color: #A99282;
    }

    .data-field{
        line-height: 5vh;
        color: #000000;
    }

    .container{
        align-items: center;
    }

    .badge{
        position: relative;
        height: 32px;
        width: 32px;
        top: 80px;
        left: 60px;
    }

    .value{
        width: 80vw;
        line-height: 0vh;
        color: #694b38;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .information-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh;
        margin-inline: 10vw;
    }

    .clinician-profile-name{
        color: #000000;
        text-align: center;
        width: -webkit-fill-available;
        border-bottom: none;
        margin-block-start: 120px;
    }

    #profile-name{
        position: relative;
        color: #000000;
        text-align: center;
        border-bottom: none;
        margin-block-start: 120px;
    }

    .profile-photo{
        width: 152px;
        height: 152px;
        border-radius: 50%;
        margin: -110px auto;
        display: block; 
    }

    .line{
        width: 80vw;
        height: 1px;
        border: none;
        background-color: #000000;
    }

    label{
        display:inline-block;
        width: 80vw;
        margin-bottom: 5px;
        margin-top: 15px;
        color: #000000;
    }

    input{
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        display: block;
        width: 80vw;
        height: 20px;
        padding-left: 0;
        color: #5C4435;
    }

    .edit-info{
        text-align: left;
        margin-bottom: 5vh;
    }

    .btn{
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 90vw;
        margin-block-start: -35px;
        background-color: transparent;
        background-image: url(../img/pen_enabled.png);
        background-repeat: no-repeat;
        border: none;
        display: flex;
        align-items: flex-end;
    }

    .button{
        margin-top: 40px;
        text-align: center;
    }

    #submit-btn{
        background-color: #5C4435;
        color: #FFFFFF;
        border-width: 0px;
        width: 60px;
        height: 25px;
        border-radius: 10px;
        display: inline;
    }

    #reset-btn{
        border: solid;
        border-width: thin;
        width: 60px;
        height: 25px;
        border-radius: 10px;
        display: inline;
    }

    .info-text{
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 1080px) {
    .upper-box{
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: stretch;
        background-color: #A99282;
    }

    .data-field{
        line-height: 5vh;
        color: #000000;
    }

    .value{
        width: 80vw;
        line-height: 0vh;
        color: #694b38;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .information-box{
       text-align: justify;
       padding-top: 5vh;
       padding-bottom: 15vh;
       display: flex;
       color: #000000;
    }

    .clinician-profile-name{
        color: #000000;
        text-align: center;
        width: -webkit-fill-available;
        border-bottom: none;
        margin-block-start: 120px;
    }

    #profile-name{
        color: #000000;
        text-align: center;
        width: -webkit-fill-available;
        border-bottom: none;
        margin-block-start: 120px;
    }

    .profile-photo{
        width: 152px;
        height: 152px;
        border-radius: 50%;
        margin: -110px auto;
        display: block; 
    }

    .line{
        width: 80vw;
        height: 1px;
        border: none;
        background-color: #000000;
        margin-bottom: 30px;
    }

    label{
        display:inline-block;
        width: 80vw;
        margin-bottom: 10px;
        margin-top: 20px;
        color: #000000;
    }

    input{
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        display: block;
        width: 80vw;
        height: 55px;
        padding-left: 0;
        color: #5C4435;
        font-size: 1em;
        font-family: 'Lato-Regular'
    }

    .edit-info{
        text-align: left;
    }

    .btn{
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 95vw;
        margin-block-start: -35px;
        background-color: transparent;
        background-image: url(../img/pen_enabled.png);
        background-repeat: no-repeat;
        border: none;
        display: flex;
        align-items: flex-end;
    }

    .button{
        margin-top: 40px;
        text-align: center;
        
    }

    .badge{
        position: relative;
        height: 32px;
        width: 32px;
        top: 95px;
        left: 100px;
    }

    #submit-btn{
        background-color: #5C4435;
        color: #FFFFFF;
        border-width: 0px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        display: inline;
    }

    #reset-btn{
        border: solid;
        border-width: thin;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        display: inline;
    }

    .info-text{
        margin-bottom: 15%;
    }

}
