@media screen and (min-width: 1366px) {
    .content {
        padding: 40px 0 0;
    }

    .banner {
        position: absolute;
        top: 0;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        font-size: 30px;
    }

    .banner .left {
        width: 10%;
        background-color: #867167;
        text-align: center;
        line-height: 60px;
        color: #FFFFFF;
    }

    .banner .left:hover {
        cursor: pointer;
        background-color: #BFA38A;
    }

    .banner .right {
        width: 90%;
        background-color: #E3D1BD;
        text-align: left;
        padding-left: 15px;
        line-height: 60px;
        color: #A09E9D;
        display: flex;
        flex-direction: row;
    }

    .banner .right .message {
        color: #867167;
        padding-left: 15px;
    }

    .single-patient {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 900px;
        padding-top: 20px;
    }

    .left-page {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .left-page .info {
        /* background-color: rgb(168, 157, 233); */
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .left-page .info .avatar {
        background-image: url('/img/avatar.png');
        width: 220px;
        height: 220px;
        border-radius: 110px;
        margin-left: 15px;
    }

    .left-page .info .info-text {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }

    .left-page .info .info-text h1 {
        font-size: 36px;
        font-weight: bolder;
        color: #A09E9D;
        padding-bottom: 10px;
    }

    .left-page .info .info-text p {
        font-size: 18px;
        line-height: 2;
    }

    .left-page .data-record {
        /* background-color: rgb(202, 221, 31); */
        height: 650px;
    }

    .right-page {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .right-page .data-setting {
        background-color: aqua;
        height: 400px;
    }

    .right-page .notes {
        background-color: rgb(119, 160, 33);
        height: 500px;
    }


    .data-record {
        margin: 0 0 5px 0;
    }

    .data-record table {
        width: 100%;
    }

    .table-title {
        width: 97%;
        height: 50px;
        margin: auto;
        background-color: #867167;
        border-radius: 15px 15px 0 0;
    }

    .table-data {
        width: 97%;
        height: 600px;
        margin: auto;
        background-color: #867167;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 0 0 15px 15px;
        /* overflow: hidden; */
        overflow-y: scroll;
        margin-bottom: 5px;
    }

    .first-row {
        height: 50px;
        margin: auto;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .data-row {
        height: 50px;
        margin: auto;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: #A09E9D;
    }

    /* .data-row td{
        text-align: center;
    } */
    td:nth-child(1) {
        width: 130px;
    }

    td:nth-child(2) {
        width: 270px;
    }

    td:nth-child(3) {
        width: 135px;
    }

    td:nth-child(4) {
        width: 200px;
    }

    td:nth-child(5) {
        width: 200px;
    }
}